# Godot 4+ specific ignores
.godot/
Assets/Zombie/weak_zombie.glb
Assets/Zombie/weak_zombie_Ch10_1002_Glossiness.png.import
Assets/Zombie/weak_zombie_Ch10_1002_Normal.png
Assets/Zombie/weak_zombie_Ch10_1002_Normal.png.import
Assets/Zombie/weak_zombie_Ch10_1002_Specular.png
Assets/Zombie/weak_zombie_Ch10_1002_Specular.png.import
Assets/Zombie/zombie_anim.res
Scenes/weak_zombie.tscn
Assets/Zombie/weak_zombie_Ch10_1002_Diffuse.png.import
Assets/Zombie/weak_zombie_Ch10_1002_Diffuse.png
Assets/Zombie/weak_zombie_Ch10_1001_Specular.png.import
Assets/Zombie/weak_zombie_Ch10_1001_Specular.png
Assets/Zombie/weak_zombie_Ch10_1001_Normal.png.import
Assets/Zombie/weak_zombie_Ch10_1001_Normal.png
Assets/Zombie/weak_zombie_Ch10_1001_Glossiness.png.import
Assets/Zombie/weak_zombie_Ch10_1001_Glossiness.png
Assets/Zombie/weak_zombie_Ch10_1001_Diffuse.png.import
Assets/Zombie/weak_zombie_Ch10_1001_Diffuse.png
Assets/Zombie/weak_zombie.glb.import
project.godot
